# .github/workflows/steam-float-scanner.yml
name: Steam Float Scanner

on:
  schedule:
    - cron: "0 */2 * * *"   # каждые 2 часа
  workflow_dispatch:

concurrency:
  group: steam-float-scanner
  cancel-in-progress: true

jobs:
  prepare:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python deps
        run: |
          python -m pip install --upgrade pip
          pip install gspread oauth2client

      - name: Build skins_data.json from Google Sheets
        env:
          GOOGLE_SHEETS_CREDENTIALS: ${{ secrets.GOOGLE_SHEETS_CREDENTIALS }}
          SPREADSHEET_ID: ${{ secrets.SPREADSHEET_ID }}   # создай этот secret
          FLOAT_SHEET_NAME: флоат
          MAX_PRICE_CELL: H1
          OUT_JSON: skins_data.json
        run: |
          python read_sheets-float.py
          ls -la skins_data.json

      - name: Upload skins_data.json
        uses: actions/upload-artifact@v4
        with:
          name: skins_data
          path: skins_data.json
          retention-days: 1

  scan:
    runs-on: ubuntu-latest
    needs: prepare
    strategy:
      fail-fast: false
      matrix:
        worker_id: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]   # количество воркеров (можешь поменять)

    env:
      API_TG: ${{ secrets.API_TG }}
      ID: ${{ secrets.ID }}

      WORKER_ID: ${{ matrix.worker_id }}
      TOTAL_WORKERS: 15

      DATA_FILE: skins_data.json
      HEADLESS: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download skins_data.json
        uses: actions/download-artifact@v4
        with:
          name: skins_data
          path: .

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Node deps
        shell: bash
        run: |
          npm init -y
          npm install puppeteer axios

      - name: Run parser
        run: node parser-float.js
